Source: ros-noetic-flexbe-msgs
Section: misc
Priority: optional
Maintainer: Philipp Schillinger <schillin@kth.se>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib, ros-noetic-actionlib-msgs, ros-noetic-catkin, ros-noetic-message-generation
Homepage: http://ros.org/wiki/flexbe_msgs
Standards-Version: 3.9.2

Package: ros-noetic-flexbe-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-actionlib-msgs, ros-noetic-message-runtime, ros-noetic-rospy
Description: flexbe_msgs provides the messages used by FlexBE.
