Source: ros-kinetic-flexbe-testing
Section: misc
Priority: optional
Maintainer: Philipp Schillinger <schillin@kth.se>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rostest, ros-kinetic-rosunit, ros-kinetic-std-msgs
Homepage: http://ros.org/wiki/flexbe_testing
Standards-Version: 3.9.2

Package: ros-kinetic-flexbe-testing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-flexbe-core, ros-kinetic-flexbe-msgs, ros-kinetic-rospy
Description: flexbe_testing provides a framework for unit testing states.
